{% extends 'base.html' %}
{% block content %}
<div class="w-full max-w-md mx-auto py-4">
  <div class="relative text-gray-600">
    <form action="{% url 'home' %}" method="get">
      <div class="flex items-center">
        <input type="search" name="q" placeholder="Rechercher un pays" class="rounded-md bg-white px-4 py-2 text-sm w-full focus:outline-none focus:shadow-outline" autocomplete="on">
        <button type="submit" class="ml-2 bg-gray-300 hover:bg-gray-400 focus:bg-gray-400 rounded-md p-2">
          <svg class="h-5 w-5 fill-current text-gray-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.71 22.29l-6.4-6.4A10.04 10.04 0 0 0 20 10a10 10 0 1 0-10 10 10.04 10.04 0 0 0 5.89-1.9l6.4 6.4a1 1 0 1 0 1.42-1.42zM4 10a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"/>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
<p class="text-white">Nombre total de pays : {{ pays|length }}</p>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 py-8">
  {% for pay in pays %}
  <div>
    <a href="{{ pay.googleMaps }}" target="_blank">
    <img src="{{ pay.flag }}" alt="Drapeau de {{ pay.name }}" class="w-full mb-4"style="width:80%; height:150px;">
  </a>
    <h1 class="text-2xl text-white font-bold">{{ pay.name }}</h1>
    <ul class="list-disc list-inside mt-4">
      <li class="text-white"><strong>Code:</strong> <span style="margin-left: 10px">{{ pay.code }}</span></li>
      <li class="text-white"><strong>Capital:</strong> <span style="margin-left: 10px">{{ pay.capital }}</span></li>
      <li class="text-white"><strong>Population:</strong> <span style="margin-left: 10px">{{ pay.population }}</span></li>
      <li class="text-white"><strong>Superficie:</strong> <span style="margin-left: 10px">{{ pay.superficie }}</span></li>
      <li class="text-white"><strong>Langues:</strong> <span style="margin-left: 10px">{{ pay.languages }}</span></li>
      <li class="text-white"><strong>Continents:</strong> <span style="margin-left: 10px">{{ pay.continents }}</span></li>
      <li class="text-white"><strong>Google:</strong> <a href="{{ pay.googleMaps }}" target="_blank"><span class="text-green-500">Maps</span></a></li>
    </ul>
    
  </div>
  {% if forloop.counter|divisibleby:4 %}
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 py-8">
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
